
.main-button {
  width: 30em;
  height: 4em;
  background-color: rgb(169, 169, 169);
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-top: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.main-button:hover {
  background-color: #898888;
  transition: ease-in 0.2s;
}

.main-button:active {
  color: white;
  background-image: url('https://png.pngtree.com/element_our/png_detail/20180921/blue-light-meteor-space-background-png_110337.jpg');
  transition: ease-in 0.2s ;
  
}

.main-button-div {
  width: 45em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 30em;
  height: 20em;
  object-fit: cover; 
  border: black;
  border-width: 3px;
  display: flex;
  align-content: center;
  justify-self: center;
  margin-right: auto;
}

.custom-text {
  color: rgb(186, 186, 186);
}